<div class="block-wrapper"
     data-block-id="<%= block.id %>"
     data-block-type="<%= block.block_type %>"
     data-position="<%= block.position %>">

  <div class="block-controls">
    <button type="button" class="block-drag-handle" data-action="click->document-editor#startDrag">⋮⋮</button>
    <button type="button" class="block-delete" data-action="click->document-editor#deleteBlock">🗑</button>
  </div>

  <div class="block-content" data-document-editor-target="blockContent">
    <%= render partial: "blocks/#{block.block_type}", locals: { block: block } %>
  </div>
</div>
